:root {
    --font: 'Geist sans';
    --text: #fff;
    --bg: #000;
    --border: 1px solid hsl(0, 0%, 30%);
    --border-focus: 1px solid hsl(0, 0%, 60%);
}

body {
    background-color: var(--bg);
    color: var(--text);

    font-family: var(--font);
    margin-left: 1rem;
}

header-banner {
    position: fixed;
    top: 0;
    left: 0;

    display: block;
    width: 100vw;
    height: 20vh;

    background-color: var(--bg);
}

header {
    position: fixed;
    top: 10%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;

    z-index: 10;
}

footer {
    position: fixed;
    bottom: 50px;
    left: 30px;

    /* transform: translate(0, -50%); */
    text-align: left;
}

footer>* {
    font-size: 1.5rem;
}

h1 {
    font-size: 4rem;

    margin-top: 50px;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-size: 1.4rem;
    margin-bottom: 0;
}

h3 {
    color: var(--text) !important;
    font-size: 1rem;

    border: var(--border);

    border-radius: 10px;
    background-color: var(--bg);
    padding: 20px;

    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10;
}

a {
    color: rgb(0, 128, 255);
    cursor: pointer;
}

button {
    /* padding: 20px 60px; */
    border: none;
    outline: none;
    position: relative;
    border-radius: 10px;
    background-color: var(--bg);
    cursor: pointer;

    color: white;
    font-size: 1.05rem;
    margin-right: 10px;
    margin-bottom: 5px;

    border: var(--border);

    padding: 10px;

    font-family: var(--font);

    z-index: 11;

    transition: 0.2s background-color;
}

button:active {
    background-color: #262626;
}

b {
    font-weight: bolder;
    color: rgb(255, 105, 105);
    font-size: 1.3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

ul {
    margin-top: 10px;
}

form h2 {
    text-align: center !important;
}

input,
textarea {
    font-family: var(--font);
    border-radius: 6px !important;
    outline: none;
    border: var(--border);
    background-color: var(--bg);
    color: var(--text);
    padding: 8px;

    font-size: 1.3rem;
}


form>button {
    font-size: 1.5rem !important;
    min-width: 100% !important;
}

textarea {
    resize: vertical;
    width: 400px;
    max-width: 90vw;
    height: 100px;
}

label {
    font-size: 1.5rem;
}

label> :not(input):not(texarea) {
    margin-bottom: 10px;
}

:root {
    --cover-height: 40px;
}

messages {
    display: block;
    /* max-width: 500px; */
    padding-top: 2rem;
    margin: auto;
    max-height: calc(100vh - var(--cover-height));
}

message {
    display: block;

    color: #fff;
    background: #151515;
    
    border-radius: 15px;
    padding: 20px 30px;
    border-bottom-left-radius: 0;
    border: var(--border);
    margin-bottom: 1rem;

    max-width: 50%;
    /* width: auto; */

    transition: 0.5s background;
}

message > text {
    display: block;
}

message > date {
    font-size: 0.75rem;
    user-select: none;
}

input {
    position: fixed;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 2rem) !important;
    margin: 0;
    z-index: 3;
    height: calc(var(--cover-height) - 23px);

    transition: 0.3s border;
}

input:focus {
    border: var(--border-focus);
}

cover {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: var(--cover-height);
    background-color: #000000;
    z-index: 2;
}